* {
    font-family: "Simplon Norm", sans-serif;
}

.filters {
  width: 300px;
  height: 1018px;       
  display: flex;
  flex-direction: column;
  gap: 24px;   
  position: relative; 
  background-color: #ffffff; 
  border: none; 
  padding-left: 25px;
  margin-top: -25px;
           
}


.filter-section {
  padding: 16px 0;
  border-bottom: 1px solid #e5e5e5;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  color: #252020;
  margin: 0 0 8px;
}

.filter-all {
  font-family: "Simplon Norm", sans-serif;
  font-size: 12px;
  color: #252020;
  margin: 0 0 8px;
}

.unselect-btn {
  font-size: 12px;
  font-family: "Simplon Norm", sans-serif;
  background: none;
  border: none;
  color: #8b8b8b;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Simplon Norm", sans-serif;
  font-size: 14px;
  color: #252020;
  margin: 6px 0;
}

.checkbox-label input {
  width: 14px;
  height: 14px;
}
