* {
    font-family: "Simplon Norm", sans-serif;
}


footer.footer {
  background: #000;
  color: #fff;
  padding: 60px 5%;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.newsletter h3,
.contact-info h3 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
}

.newsletter p {
  font-size: 12px;
  margin-bottom: 15px;
  opacity: 0.8;
}

.newsletter-input {
  display: flex;
  gap: 10px;
}

.newsletter-input input {
  padding: 12px;
  width: 260px;
  border: none;
  border-radius: 4px;
}

.newsletter-input button {
  background: #222;
  border: 1px solid #444;
  padding: 12px 20px;
  color: #fff;
  cursor: pointer;
}

.contact-info p {
  margin: 5px;
  font-size: 12px;
  opacity: 0.8;
  align-items: left;
}

.currency {
  display: flex;
  align-items: left;
  gap: 8px;
  margin: 5px ;
}

.currency img {
  width: 20px;
}

.currency-note {
  margin-top: 8px;
  font-size: 10px;
  opacity: 0.6;
}

.footer-divider {
  border: none;
  height: 1px;
  background: #222;
  margin: 40px 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-links h4 {
  font-size: 14px;
  margin-bottom: 15px;
  color: #fff;
}

.footer-links p {
  font-size: 12px;
  margin-bottom: 8px;
  opacity: 0.7;
  cursor: pointer;
}

.social-icons img {
  width: 26px;
  margin-right: 12px;
  cursor: pointer;
}

.payment-icons img {
  width: 40px;
  margin-right: 12px;
  margin-top: 10px;
}

.sub-btn{
  
  width:184px;
  height: 48px;
  border:1.14px;
  border-radius: 5px;
  opacity:30%;
}
footer .copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  opacity: 0.6;
}

@media (max-width: 900px) {
  .footer-top {
    flex-direction: column;
    gap: 30px;
  }

  .footer-links {
    flex-direction: column;
    gap: 30px;
  }
}
