.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0 60px;
}

.box {
  width: 720px;
  padding: 40px 20px;
  text-align: center;
}

.box h2 {
  width: 666px;
  height: 72px;
  margin: 0 auto 40px;


  font-family: "Simplon Norm", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #252020;
}

.box p {
  width: 721px;
  height: 80px;
  margin: 0 auto;

  font-family: "Simplon Norm", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #252020;
}
