.card {
  width: 300px;
  height: 462px;              
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  border:1px solid #E5E5E5;
  padding-left:15px;
  margin-left:-20px;
  margin-right:10px;
}

.card img {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 300px;       
  height: 352px;       
  object-fit:contain;   
  opacity: 1;          
  border-radius: 4px;
  display: block;
}

.info {
  width: 300px;       
  height: 47px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;       
  opacity: 1;
  margin-top: 16px;   
}
.title {
  font-family: "Simplon Norm",sans-serif;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #252020;
  width: 100%;
  text-align: center;
}


.price {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #252020;
}
