.nav {
  width: 1248px;
  min-height: 80px;
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  opacity: 1;
  margin: 0 auto;
}


.navbar {
  width: 1248px;
  height: 88px;
  top: 532px;
  left: 96px;
  border: 1px solid #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 20;
}

/* Left group */
.left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.items-count {
  font-family: 'Simplon Norm', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #252020;
  display: flex;
  align-items: center;
}

.hideFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 40px;
  gap: 8px;

  font-family: 'Simplon Norm', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #dcdada;

  cursor: pointer;
}


/* Right group */
.right {
  display: flex;
  align-items: center;
}

.recommended {
  width: 150px;
  height: 40px;
  font-family: "Simplon Norm", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  color: #252020;
  text-align: right;
  cursor: pointer;

  transition: all 0.3s ease-out;
}

.recommended:hover {
  opacity: 0.7;
}
