.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 932px; 
  margin-left: auto;
  margin-right: auto;
  gap: 32px 24px;
}

.full {
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px; 
  gap: 32px 24px;
}

.productCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.productCard img {
  width: 300px;       
  height: 399px;
  display: block;
  object-fit: cover;
}
