.dropdownWrapper {
  position: relative;
  width: 148px;
  border: none;
}

.dropdownHeader {
  font-family: "Simplon Norm", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 4px;
  border: 1px solid #ffffff;
}

.arrow {
  font-size: 12px;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;

  width: 163px;
  padding: 16px;

  background: #ffffff;
  border: 1px solid #e5e5e5;
  z-index: 50;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.option {
  font-family: "Simplon Norm", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #252020;
  cursor: pointer;

  padding: 4px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.option:hover {
  opacity: 0.7;
}

.active {
  font-weight: 700;
}

.check {
  font-size: 14px;
  font-weight: 700;
}
